<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Create a Task</title>
  </head>
  <body>
    <h1>Hello, Add a Task</h1>
    <p>On click of submit DateTime of task creation is stored and an id is
      generated and stored in the DB</p>
    <form action='/tasks' method='post'>
      <label for='title'>Task Name</label>
      <input type='text' id='title' name='title' />
      <button>Submit</button>
    </form>
  </body>
</html>